section{
    background-color:  #F7FAFA;
}
.serhead1{
width: 744px;
height: 114px;
font-family: 'Montserrat';
font-style: normal;
font-weight: 700;
font-size: 40px;
text-align: center;
color: #252B42;
padding:2rem 22rem 1rem 22rem;
}
.serhead2{
width: 447px;
height: 40px;
font-family: 'Montserrat';
font-style: normal;
font-weight: 500;
font-size: 14px;
text-align: center;
color: #737373;
padding:0rem 30rem 0rem 31rem;
}
.video{
    height: 235px;
    position: relative
}
.mainvedio{
margin: 2rem 17rem;
height: 30rem;
width: 60rem;
object-fit: fill;
}
.cover{
height: 335px;
background: #C7EACC;
}
.main{
    justify-content: center;
    display: grid;
    padding: 2rem;
}
@media only screen and (max-width: 1200px){
.serhead1{
width: 336px;
height: 114px;
font-size: 22px;
padding: 0rem;
}
.serhead2{
    padding: 1rem 0rem;
    width: 343px;
}
.video{
    height: 111px;
}
.mainvedio{
margin: 2rem 0rem;
height: 13rem;
width: 21rem;
object-fit: fill;   
}
.cover{
    height: 10rem;
}

}